<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Node Site</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen flex flex-col  bg-slate-900 text-slate-200">
    <header class="flex justify-between items-center p-6 bg-slate-950">
        <h1 class="font-bold text-2xl">Basic Node Site</h1>
        <nav class="flex gap-4">
            <li class="list-none"><a class="hover:font-bold hover:underline" href="/">Home</a></li>
            <li class="list-none"><a class="hover:font-bold hover:underline" href="about">About</a></li>
            <li class="list-none"><a class="hover:font-bold hover:underline" href="contact">Contact Us</a></li>
        </nav>
    </header>
    <main class="flex-grow grid place-items-center">
        <h2 class="font-bold text-2xl">You are on the contact page</h2>
    </main>
</body>

</html>